#todoList {
min-width: 350px;
max-width: 500px;
margin: 0 auto;

}

.list-item {
  color: white;
  padding: 1.5em;
  background-color:#1ABC9C;
  border-radius: 50px;
  margin-bottom: 1em;
}

.delete {
  width: 20px;
  text-align: center;
  border-radius: 50px;
  float: right;
  display: block;
  background-color: gray;
  transition: all 0.5s linear;
}

.delete:hover {
  background-color: red;
  cursor: pointer;
}