* {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
  text-align: center;
  margin: 0.5em 1em;
  padding: 0.5em;
}

img {
  width: 200px;
  height: 300px;
  border-radius: 0.5em;
}

section {
  display: flex;
  justify-content: space-around
}

#output {
  font-size: 2em;
  text-align: center;
}

#reload {
  text-align: center;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin: 1em 1.5em;
  font-size: 0.8em;
  background-color: rgb(172, 166, 166);
}

@media all and (max-width: 700px) {

  section {
    flex-direction: column;
    align-items: center;
    height: 1000px;
  }

}

