#login-panel {
    position: absolute;
    top: 10.9375vh;
    left: 30vw;
    
    height: 800px;
    width: 562px;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px #E5E5E5;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}
#app-name {
    position: absolute;
    top: 13.867%;
    left: 32.3%;
    text-align: center;

    font-size: 40px;
    line-height: 40px;

    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#log-in-social-media{
    position: absolute;
    top: 22.625%;

    text-align: center;
    font-size: 18px;
    line-height: 18px;
}
.snslogo {
    width: 8%;
    margin-left: 4%;
    margin-right: 4%;
}
#log-in-email-pw{
    position: absolute;
    top: 37.25%;
    left: 20.3%;

    height: 38px;
    width: 341px;

    font-size: 24px;
    line-height: 24px;
    text-align: center;
}
#username-entry{
    position: absolute;
    top:42.625%;
    left: 14.768%;

    height: 75px;
    width: 395px;

    background: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
#pw-entry{
    position: absolute;
    top: 54%;
    left: 14.768%;

    height: 75px;
    width: 395px;

    background: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.entry-logo{
    position: absolute;
    top: 20%;
    left: 8%;

    width: 10%;
}
.input-field{
    position: absolute;
    top: 25%;
    left: 20%;

    height: 31px;
    width: 267px;
    
    font-size: 24px;
    line-height: 24px;

    columns: #c4c4c4;
    border: none;
}
#forgot-pw{
    position: absolute;
    top: 70%;
    left: 37.55%;

    height: 31px;
    width: 267px;

    text-align: right;
    color: #c4c4c4
}
#login-button{
    position: absolute;
    top: 75%;
    left: 67%;

    height: 45px;
    width: 103px;

    background-color: #5B7CD0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}
#sign-up{
    position: absolute;
    top: 85%;
    left: 27%;

    font-size: 18px;
    line-height: 18px;
}