<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
      <span class="close">&times;</span>
      <h6>SET REMINDER<span class="required">*</span></h6>
      <input id="reminder-title" type=text placeholder="What is your reminder?">
      <div id = "reminder-tag-folder" class = "reminder-sub-divs">
          <button id = "add-tag-btn" class="addTag" type=text placeholder="+">+</button>
          <input id = "add-tag" class="tagInput" type=text placeholder="TAG">
          <div id = "reminder-tags-listing">

          </div>
              
      </input>
      
      </div>
      <div id="reminder-date" class = "reminder-sub-divs">
          <h6>SET DATE<span class="required">*</span></h6>
          <input type="date">    <image src = "umbrella.png" style="width: 20px; height: 20px;"></image>
      </div>
      <div id="reminder-time" class = "reminder-sub-divs">
          <h6>SET TIME<span class="required">*</span></h6>
          <input type="time">
      </div>
      <div id="reminder-subtasks" class = "reminder-sub-divs">
          <input id="subtask-task" type="text" placeholder="+ ADD SUBTASK">
          <button id = "subtask-btn" type = "text" >ADD</button>
          <ul class="subtask-list" id="subtask-ul">
          </ul>

      </div>
      <div id = "submit-form" class = "reminder-sub-divs">
          <button id = "submit-btn">SUBMIT</button>
      </div>
  </div>
</div>